# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.so

# Environment folders
.env/
.venv/
env/
venv/

# Data and outputs
*.csv
*.xlsx
*.xls
*.h5
*.pkl
*.sav
*.npz
*.log
*.db

# OS files
.DS_Store
Thumbs.db

# HTML reports
*.html

# VS Code
.vscode/
